In [3]:
print("Prasanna Raj Mallipudi")

Prasanna Raj Mallipudi

# Notebook Basics

### Markdown Basics
* **Bold ** 
* *Italic* 
* ***IB***
* **AVINASH **
  * Sub1
  * Sub2
  * Y Venkatesh
    * **UV** <br>
    * **Raj**<br>
    
    
1. Ordered List 1
2. Ordered List 2
3. Ordered List 3 
4. Ordered List 4 


[Rj LoGo](rj.jpg)

![Rj LoGo](rj.jpg)

<img src="rj.jpg" style="float:right">


- [x] Opt1
- [x] Opt2
- [x] Opt3
- [x] Opt4




[Google] [1] or [Yahoo][2]
[1]: http://google.com/ "Google"
[2]: http://yahoo.com/ "Yahoo"


```printf("Hello Raj")```

<a> <http://www.google.com> </a>

# Python Basics

### Python 3.7

- Scripting
- Object Oriented
- Functional

In [8]:
# Python Comments

In [9]:
print("APSSDC")

APSSDC

In [10]:
#print("APSSDC")
print("SDC")

SDC

In [13]:
print("Hello " + "Raj" ,"!",end="||")

Hello Raj !||

## Assignment

In [25]:
n1=1234567891 # Single Variable Assignment

n1
n2=n4=n3=n1 # Multi Varaiable Assignments
print(n2)

a,b,c=1,2,400
print(a)
print(b)
print(c)
a,b,c

1234567891
1
2
400

(1, 2, 400)

### Arithmetic Operators
- +
- -
- *
- /
- %
- **

In [33]:
c % 11

c ** 2
type(c)
#len(str(type(c)))


atoms = 10 ** 20
len(str(atoms))
atoms

100000000000000000000

### Conditionals

In [54]:
if atoms < 10 ** 99:
    print("TRUE")
else:
    print("FALSE")

TRUE

In [40]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Data Types
- int
- float
- string
- double

In [52]:
s1="Prasanna Raj Mallipudi"
print(type(s1))
s2=1429
print(type(s2))
s3=1.1
print(type(s3))
print(s1)
print("String Length:",len(s1))

print(12 ** 99)

<class 'str'>
<class 'int'>
<class 'float'>
Prasanna Raj Mallipudi
String Length: 22
69014978768345458548673686329780708168010234321157869622016822008604576610843435253147523608071501615464448

In [57]:
# Check if a number id EVEN

a=int(input("Enter a NUmber"))
#a=123
if a % 2 == 0:
    print("EVEN")
else:
    print("ODD")

Enter a NUmber124
EVEN

In [61]:
# Greastest of 3 Numbers

a=int(input("Enter the first No"))

b=int(input("Enter the Second No"))
c=int(input("Enter the Thrid No"))

if a>b and a>c:
    
    print(a,"is the Greatset")

elif b>c:
    
    print(b,"is the Greatset")
else:
    
    print(c,"is the Greatset")

Enter the first No123
Enter the Second No124
Enter the Thrid No125
125 is the Greatset

In [76]:
# if a year is a Leaf Year

import calendar
print(calendar.isleap(2000))

'''
jhdjjdjd
'''

True

'\njhdjjdjd\n'

In [69]:
# check if a no exisits in a given range(inclusive)
a=int(input("Enter the  No"))

b=int(input("Enter the a No"))
c=int(input("Enter the b No"))

if a in range(b,c):
    print("YES")
else:
    print("No")

Enter the  No6
Enter the a No3
Enter the b No9
YES

In [71]:
#calculate the no of digits in a number
n=input("Enter a DIgit")
a=0
for i in n:
    if i.isdigit():
        a=a+1
print(a)

Enter a DIgithgdfhgfgh4535356nbd
7

In [74]:
# Check if a number is multiple of 10

if  10 % 10:
    print("OK")

OK

In [80]:
# check if a number is a factor of 1000

a=int(input("enter no "))
if 100 % a:
    print("Yes")
else:
    print("No")

enter no 2
No

In [1]:
# Check if given string is equal to a number
s1 = "python"
n1 = 123456
if str(n1) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

123456 is not equal to python

In [78]:
# check the square root of a number without functions

n1=123
n1 ** 0.5

11.090536506409418

In [79]:
10 ** 9

1000000000

In [2]:
# Calculate the number of nano seconds in a 
#given year(considering leap year logic)
year = 2016
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 * (10**9))

31622400000000000