In [15]:
# Function to print all combinatios of pairs of integers in a unique list

# [1,2,3] ---> (1,2),(1,3).(2,3) --> 3C2 ---> (3!/(3-2)!*2!)

# [1,2,3,4]  ----> 1,2 1,3 1,4 2,3 2,4 3,4


def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i],li[j])
    
    return 
    
        
combinations([1,2,3,4])

1 2
1 3
1 4
2 3
2 4
3 4

In [17]:
def combinations3(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            for k in range(j+1,len(li)):
                
                print(li[i],li[j],li[k])
    
    return 
    
        
combinations3([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [12]:
# [1,2,3] -> [1,2,3]

def medium(li,K):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1] :
            break
    if len(li3[0])>=k:
           return sorted(li3[0],reverse=True)[k]
    return -1 
      

def differencePairs(li):
    cli = li
    newelement=[]
    
    for i in range(len(cli)-1):
        for j in range(i+1,len(cli)):
            d = abs(li[i]-li[j])
            if d not in cli:
                newelement.append(str(d))
    return newelement
li = [1,9,8,7]
differencePairs(li)

SyntaxError: invalid syntax (<ipython-input-12-c94a609823b0>, line 9)

In [7]:
def diffPairs(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            a = abs(li[i]-li[j])
            if a not in li:
                li.append(a)
                diffPairs(li)
    return li
li = [2,12]
diffPairs(li)

[2, 12, 10, 8, 6, 4]

[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]

# Convert the list into an 
# Arithmetic Progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [20]:
def differentPair(li):
    c=li.copy()
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]

li=[2,3,6,9,12]

differentPair(li)

[[2, 3, 6, 9, 12], [2, 3, 6, 9, 12, 1, 4, 7, 10]]

#### Set - Data Structure in Python 

- Represent by '{}'

In [36]:
s={1,2,3,4,5,6,8,8}

s.add(9) # Adding a single element

#for i in s:
    #print(i,end = " ") -> Accessing Elements

b = {7,8,9,1,2,3,-1,1.67,10}
li = [11,12,13,1,2,3,4,'Hello','RAJ','Apple']

s.update(b,li) # Adding Multiple Elements 

s

{-1, 1, 1.67, 10, 11, 12, 13, 2, 3, 4, 5, 6, 7, 8, 9, 'Apple', 'Hello', 'RAJ'}

In [38]:
s.discard(13) # Single Element Removing
s.remove('Apple') # Removing element

In [44]:
s

{-1, 1, 1.67, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 'Apple', 'Hello', 'RAJ'}

In [46]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}

a.union(b)
# A U B = B U A
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [51]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
c = (111,123)
a.intersection(b) # Common Elements Display
b.intersection(a) # Common Elements Display

{1, 2, 3}

In [52]:
a.isdisjoint(c)

True

In [57]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
c = (111,123)

a - b # All elements of a which are not in b
b - a

{7, 8, 9}

In [64]:
sorted(a) # Return to values into List Format

[1, 2, 3, 4, 5, 6, 10]

In [65]:
a^b # Elements either in a or in b

{4, 5, 6, 7, 8, 9, 10}

In [66]:
d = set() # Create an empty set
d

set()

In [68]:
li = [1,2,3,4,52,3,4,67,56,67,57,67,3,4,5]
u = set(li)
u

{1, 2, 3, 4, 5, 52, 56, 57, 67}

Procedural : C

Object Oriented : Java

Scripting : PHP, Python, Java Script

Functiona : Python, Haskell,SML,Clojure,Scala,Erlang,Clean,F#,ML/OCaml Lisp /          Scheme,XSLT,SQL,Mathematica

#### List Comprehensions

In [71]:
# N natural numbers in a list

n = 10
li = []
for i in range(1,n+1):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
# N natural numbers using (Functional Programming)
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
# Apply list comprehension to store the cubes on n natural numbers

li = [i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [80]:
# Function to calculate the factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)

# Apply to List Comprehension to calculate the factorial of n natural numbers

n = 10
factoriallist = [factorial(i) for i in range(1,n+1)]

factoriallist

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [93]:
# Store cumulative sum of numbers till n a list

# N=3, [1, 3, 6]

n = 6
cumlativeSum = [sum(range(1,i+1)) for i in range(1,n+1)]
cumlativeSum

[1, 3, 6, 10, 15, 21]

In [97]:
# List comprehesion to store only leap Years in given time period

startyr = 1970
endyr = 2019

leapYears = [i for i in range(startyr,endyr+1) if i % 400 ==0 or (i%4==0 and i % 100 != 0)]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [101]:
li = [1,2,3,2,1,4,5,4,5,6,7]
u2 = []
unique = []
#unique = [u2.append(i) for i in li if i not in u2]
unique = [i for n,i in enumerate(li) if i not in li[:n]]
unique

[1, 2, 3]

In [ ]:
li = [1,2,3,2,1,4,5,4,5,6,7]
u2 = []
unique = []
[u2.append]

#### Iterators

Iterable - Strings, Lists, Sets, Dictionaries

Convert Iterable to Tterator -> iter()

For Loop: 

Iterator:

In [119]:

it = iter('Python')
print('1: ')
print(next(it))
#print('\n')
print('2: ')
print(next(it))

1:
P
2:
y

####  Generator

In [128]:
def generator():
    n = 2
    
        
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
a = generator()
next(a)
next(a)
next(a)

512

In [135]:
def generator():
    n = 2
    while True:
        n **= 3
        yield n
        
a = generator()
for i in range(5):
    print(next(a))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208